body{
    background-color: #5B7FBD;
    color: #222222;
}

h1{
   font-family: Trebuchet MS, sans-serif;
    
    
    margin-left: 320px;
}
.copyright
{
    font-family:  Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}
p{
    margin-left: 320px;
    font-family: Trebuchet MS, sans-serif;
}

ul { list-style-type: none; text-align: center; 
font-family: Trebuchet MS, sans-serif;}
li::before { content: "\2022 "}