body{
    background-color: #55CCFF;
    color: #222222;
}

h1{ 
    margin-left: 320px;
}
p{
    margin-left: 320px;
    
}
ul { list-style-type: none; text-align: center; 
font-family: Trebuchet MS, sans-serif;}